result/duretrieval_mteb_dev_deepseek_v4pro_20260923_run9/qa_freshschema_top5_20260927/qa_results_final.jsonl filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260923_run9/qa_freshschema_top5_20260927/recovery_20260927/qa_results_final.jsonl filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260923_run9/dimension_tag_evidence_vectors_v2.npy filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260923_run9/dimension_tag_vectors_v1.npy filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260923_run9/evaluation_freshschema_noexpansion_20260927/results.jsonl filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260923_run9/evaluation_query_facet_context_emptyretry_full_compact_gpu0_20260928/results.jsonl filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260923_run9/evaluation_query_facet_evidence_v2_full_gpu0_20260928/results.jsonl filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260923_run9/qa_freshschema_top5_20260927/qa_results.jsonl filter=lfs diff=lfs merge=lfs -text
data/dev_external/duretrieval_mteb/prepared_full/chunks.json filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260922_run7/evaluation_noexpansion/results.jsonl filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260923_run8/evaluation_noexpansion/results.jsonl filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260923_run9/qa_freshschema_top5_20260927/recovery_20260927/qa_results_final_v2.jsonl filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260922_run1/chunks.json filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260922_run2/chunks.json filter=lfs diff=lfs merge=lfs -text
result/duretrieval_mteb_dev_deepseek_v4pro_20260922_run3/chunks.json filter=lfs diff=lfs merge=lfs -text
